{% extends 'base.html.twig' %}

{% block title %}Ajouter une tâche à la session Pomodoro{% endblock %}

{% block body %}
    <h1>Ajouter une tâche à la session Pomodoro</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Ajouter la tâche</button>

    {{ form_end(form) }}

    <a href="{{ path('pomodoro_session', {'id': currentPomodoroSessionId}) }}" class="btn btn-secondary">Retour à la session Pomodoro</a>
    <a href="{{ path('task_list') }}" class="btn btn-secondary">Voir la liste des tâches</a>

{% endblock %}
